#logo {
    font-size: 16pt;
    color: rgba(0, 0, 0, 0.767);
}

#logo::before {
    content: "</";
    color: black;
}

#logo::after {
    content: ">";
    color: black;
}

.global {
    position: relative;
    display: none;
    top: 15px;
}

.logo-info {
    position: relative;
    min-height: 505px;
    width: 350px;
    top: 45px;
    background-color: #0d6efd;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.logo-info-resumo {
    position: relative;
    width: 90%;
    height: 55%;
    margin: 0 auto;
    border: 1px solid lightgray;
    border-radius: 7px;
    top: 160px;
    z-index: 0;
    padding-top: 45px;
    background-color: white;
}

.logo-info-img {
    position: absolute;
    width: 50%;
    margin: 0 auto;
    margin-top: 25px;
    z-index: 1;
    left: 90px;
}

#img-logo {
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
}

.list-info {
    list-style: none;
    padding: 5px;
}